.highlight {
    color: var(--colour-text);
    background-color: var(--colour-slight-highlight-bg);
    font-size: 0.7em;
}

.highlight .hll{}
.highlight .c, .highlight .c1 {
    /* comments */
    color: var(--colour-slightly-faded);
    font-family: var(--font-text);
    font-size: 1.2em; /* alas, my body font has a rather small x-height */
    line-height: 1em; /* but we must compensate for it in the line height or line numbers get all akimbo */
}
.highlight .err{}
.highlight .g{}
.highlight .k{
    /* keywords */
    font-weight: bold;
}
.highlight .l{}
.highlight .n{}
.highlight .o{}
.highlight .x{}
.highlight .p{}
.highlight .cm{}
.highlight .cp{}
.highlight .c1{}
.highlight .cs{
    font-weight:bold;
}
.highlight .gd{}
.highlight .ge{font-style:italic}
.highlight .gr{}
.highlight .gh{font-weight:bold}
.highlight .gi{}
.highlight .go{}
.highlight .gp{font-weight:bold}
.highlight .gs{font-weight:bold}
.highlight .gu{font-weight:bold}
.highlight .gt{}
.highlight .kc{}
.highlight .kd{}
.highlight .kn{font-weight:bold}
.highlight .kp{}
.highlight .kr{}
.highlight .kt{}
.highlight .ld{}
.highlight .m{}
.highlight .s{
    /* string literals */
    color:var(--colour-highlight-fg);
}
.highlight .na{}
.highlight .nb{}
.highlight .nc{}
.highlight .no{}
.highlight .nd{
    /* macros? */
    font-style: italic;
}
.highlight .ni{}
.highlight .ne{font-weight:bold}
.highlight .nf{}
.highlight .nl{}
.highlight .nn{}
.highlight .nx{}
.highlight .py{}
.highlight .nt{}
.highlight .nv{}
.highlight .ow{}
.highlight .w{}
.highlight .mf{}
.highlight .mh{}
.highlight .mi{}
.highlight .mo{}
.highlight .sb{}
.highlight .sc{}
.highlight .sd{}
.highlight .s2{
    /* another kind of string literal? */
    color:var(--colour-highlight-fg)
}
.highlight .se{}
.highlight .sh{}
.highlight .si{
    /* string interpolation characters? */
    font-weight:bold;
}
.highlight .sx{}
.highlight .sr{}
.highlight .s1{}
.highlight .ss{}
.highlight .bp{}
.highlight .vc{}
.highlight .vg{}
.highlight .vi{}
.highlight .il{}

.highlight {
    padding: 0.5rem 1rem;
}

.highlight .linenos pre {
    padding-right: 0.5rem;
    font-family: var(--font-text);
    font-variant-numeric: lining-nums;
    color: var(--colour-faded);
}

.colist {
    font-size: .9em;
    margin: -1em 0 1em;

    &>table>tbody>tr, &>table>tr {
        &>:first-child {
            padding: .25em .5em 0;
            vertical-align: top;
        }

        &>:last-child {
            padding: .35em 0;
        }
    }
}

.conum[data-value] {
    border: 1px solid;
    border-radius: 100%;
    display: inline-block;
    font-family: var(--font-header);
    font-size: .75rem;
    font-style: normal;
    height: 1.25em;
    letter-spacing: -.25ex;
    line-height: 1.35;
    text-align: center;
    text-indent: -.1ex;
    width: 1.25em;

    & + b {
        display: none;
    }

    &::after {
        font-variant-numeric: lining-nums;
        content: attr(data-value);
    }
}
