.highlight {
    color:black;
    background-color:#ddd;
}

.highlight .hll{}
.highlight .c{color: #777;font-family:var(--font-text)}
.highlight .err{}
.highlight .g{}
.highlight .k{font-weight: bold}
.highlight .l{}
.highlight .n{}
.highlight .o{}
.highlight .x{}
.highlight .p{}
.highlight .cm{}
.highlight .cp{}
.highlight .c1{}
.highlight .cs{font-weight:bold}
.highlight .gd{}
.highlight .ge{font-style:italic}
.highlight .gr{}
.highlight .gh{font-weight:bold}
.highlight .gi{}
.highlight .go{}
.highlight .gp{font-weight:bold}
.highlight .gs{font-weight:bold}
.highlight .gu{font-weight:bold}
.highlight .gt{}
.highlight .kc{}
.highlight .kd{}
.highlight .kn{font-weight:bold}
.highlight .kp{}
.highlight .kr{}
.highlight .kt{}
.highlight .ld{}
.highlight .m{}
.highlight .s{}
.highlight .na{}
.highlight .nb{}
.highlight .nc{}
.highlight .no{}
.highlight .nd{font-style: italic;}
.highlight .ni{}
.highlight .ne{font-weight:bold}
.highlight .nf{}
.highlight .nl{}
.highlight .nn{}
.highlight .nx{}
.highlight .py{}
.highlight .nt{}
.highlight .nv{}
.highlight .ow{}
.highlight .w{}
.highlight .mf{}
.highlight .mh{}
.highlight .mi{}
.highlight .mo{}
.highlight .sb{}
.highlight .sc{}
.highlight .sd{}
.highlight .s2{}
.highlight .se{}
.highlight .sh{}
.highlight .si{}
.highlight .sx{}
.highlight .sr{}
.highlight .s1{}
.highlight .ss{}
.highlight .bp{}
.highlight .vc{}
.highlight .vg{}
.highlight .vi{}
.highlight .il{}

.highlight .linenos { padding: 0.5rem; font-family: var(--font-text); }
