.highlight {
    color: var(--colour-text);
    background-color: var(--colour-slight-highlight-bg);
}

.highlight .hll{}
.highlight .c {
    color: var(--colour-slightly-faded);
    font-family: var(--font-text);
}
.highlight .err{}
.highlight .g{}
.highlight .k{font-weight: bold}
.highlight .l{}
.highlight .n{}
.highlight .o{}
.highlight .x{}
.highlight .p{}
.highlight .cm{}
.highlight .cp{}
.highlight .c1{}
.highlight .cs{font-weight:bold}
.highlight .gd{}
.highlight .ge{font-style:italic}
.highlight .gr{}
.highlight .gh{font-weight:bold}
.highlight .gi{}
.highlight .go{}
.highlight .gp{font-weight:bold}
.highlight .gs{font-weight:bold}
.highlight .gu{font-weight:bold}
.highlight .gt{}
.highlight .kc{}
.highlight .kd{}
.highlight .kn{font-weight:bold}
.highlight .kp{}
.highlight .kr{}
.highlight .kt{}
.highlight .ld{}
.highlight .m{}
.highlight .s{color:var(--colour-highlight-fg)}
.highlight .na{}
.highlight .nb{}
.highlight .nc{}
.highlight .no{}
.highlight .nd{font-style: italic;}
.highlight .ni{}
.highlight .ne{font-weight:bold}
.highlight .nf{}
.highlight .nl{}
.highlight .nn{}
.highlight .nx{}
.highlight .py{}
.highlight .nt{}
.highlight .nv{}
.highlight .ow{}
.highlight .w{}
.highlight .mf{}
.highlight .mh{}
.highlight .mi{}
.highlight .mo{}
.highlight .sb{}
.highlight .sc{}
.highlight .sd{}
.highlight .s2{}
.highlight .se{}
.highlight .sh{}
.highlight .si{}
.highlight .sx{}
.highlight .sr{}
.highlight .s1{}
.highlight .ss{}
.highlight .bp{}
.highlight .vc{}
.highlight .vg{}
.highlight .vi{}
.highlight .il{}

.highlight {
    padding: 0.5rem 1rem;
}

.highlight .linenos {
    padding-right: 0.5rem;
    font-family: var(--font-text);
    color: var(--colour-faded);
}
