main h2 + p .initial {
  color: var(--colour-highlight-fg);
  font-family: 'EB Garamond Initials Foreground';

  font-size: 4em;
  float: left;
  line-height: 1em;
  margin-top: 0.09em;
  margin-right: 0.1em;
}

main h2 + p .initial::before {
  content: var(--initial-letter, '');
  font-family: 'EB Garamond Initials Background';
  color: var(--colour-highlight-bg);
  height: 0;
  display: block;
  /* uncomment this to bring the background over the foreground,
     intertwining the vines with the letters */
  /* position: relative; */
}
