mjx-container[jax="CHTML"][display="true"] mjx-math,
mjx-container[jax="CHTML"]:not([display="true"]) {
  background-color: var(--colour-slight-highlight-bg);
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0.3em !important;
}

mjx-container[jax="CHTML"]:not([display="true"]) {
  padding: 0 0.1em;
  display: inline-block;
}
