:root {
    --font-text: "Liberation Serif", "Times New Roman", serif;
    --font-header: "EB Garamond", "Times New Roman", serif;
    --font-around: var(--font-header);
    --font-code: "DM Mono", monospace;
    --font-footer: var(--font-code);
}
:root {
    --colour-highlight-fg: #8e0a00;
    --colour-highlight-bg: #ddd;
    --colour-slight-highlight-bg: #e5e5e5;
    --colour-bg: #eee;
    --colour-fg: black;
    --colour-slightly-faded: #666;
    --colour-faded: #888;
    --colour-very-faded: #bbb;
    --colour-bright-highlight: red;
}
@media (prefers-color-scheme: dark) {
    :root {
        --colour-highlight-fg: #8e0a00;
        --colour-highlight-bg: #222;
        --colour-slight-highlight-bg: #191919;
        --colour-bg: #111;
        --colour-fg: #eee;
        --colour-slightly-faded: #aaa;
        --colour-faded: #666;
        --colour-very-faded: #444;
        --colour-bright-highlight: red;
    }

    img.logo { filter: invert(100%); }
}

body {
    color: var(--colour-fg);
    background-color: var(--colour-bg);
    font-family: var(--font-text);
    margin: 0;
}

header.doctitle {
    font-family: var(--font-header);
    font-weight: bold;
}
h1, h2, h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: var(--font-header);
}
h3 { font-size: 1.4rem; }

article>section:first-child h2 {
    margin-top: 0.4em;
}

code {
    /* bootstrap defines this to be a rather violent shade of fuschia */
    color: currentColor;
    background-color: var(--colour-slight-highlight-bg);
    font-family: var(--font-code);
    padding: 0 0.3em;
}

.highlight code {
    padding: 0;
}

/* index */
.index .about {
    padding: 5rem 1rem 0;
    text-align: right;
}
.index .about>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    margin-bottom: 5rem;
}
.index img.logo { height: 15rem; }
.index .about a {
    white-space: nowrap;
}

.sidebar img.logo { height: 5rem; }
a:link img.logo, a:visited img.logo {
    text-decoration: none;
}
.index h3 { font-size: 1.3em; }
.index .sidebar { margin-top: 1em; }
.index time {
    font-style: italic;
    float: right;
    text-align: right;
    width: 11em;
    font-size: 0.9em;
}
.teaser .sidenote { display: none; }
.teaser h1,
.teaser h2,
.teaser h3,
.teaser h4 { display: none; }

.section-heading {
    visibility: hidden;
}
:hover>.section-heading {
    visibility: visible;
    border-bottom-style: none;
}

a:link, a:visited {
    color: var(--colour-highlight-fg);
}

#docnav {
    font-family: var(--font-around);
}

main pre {
    margin: 0;
    font-family: var(--font-code);
}

main ul, main ol {
    margin-left: 1.5em;
    padding-left: 0;
    list-style-position: outside;
}

main li {
    padding-left: 0.5em;
}

main ul li::marker {
    content: '❧';
    font-family: 'EB Garamond 12';
    font-feature-settings: "cv90"; /* ornate ❧ */
}

main ol li::marker {
    font-size: 0.8em;
    font-style: italic;
}

main li::marker {
    color: var(--colour-faded);
    background-color: var(--colour-highlight-bg);
    font-weight: bold;
    font-family: var(--font-header);
}

main ol {
    list-style-type: lower-roman;
}

hr, hr:not([size]) {
    border: 0;
    height: 4rem;
    margin-bottom: 1em;
    margin-top: -0.5em;
    background: center/contain url(divider.svg) transparent no-repeat;
}

@media (prefers-color-scheme: dark) {
    hr, hr:not([size]) {
        filter: invert(100%);
    }
}

main .listingblock {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

ul.posts time {
    display: block;
    margin-left: 2em;
}

a:hover, a:visited:hover {
    color: var(--colour-bright-highlight);
}

main a:visited {
    text-decoration-color: var(--colour-faded);
}

.doctitle {
    margin-bottom: 2rem;
}
.doctitle h1 {
    font-size: 1.5rem;
}
.doctitle .subtitle {
    margin-bottom: 0.5rem;
}

.sidebar {
    text-align: right;
    padding-top: 1rem;
    padding-right: 1.5rem;
    height: 100%;
}
.sidebar time {
    font-weight: normal;
    font-size: 0.9em;
    font-style: italic;
}
.sidebar time:before {
    content: '― ';
}
.sidebar time:after {
    content: ' ―';
}
nav#sitenav a:link {
    border-bottom: 1px dashed;
}

nav#docnav ul.nav {
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
}

nav#docnav a.navbar-brand {
    color: var(--colour-fg);
}
nav#docnav a.nav-link {
    color: var(--colour-faded);
    padding-right: 0;
}
nav#docnav a.nav-link:hover,
nav#docnav a.nav-link:active,
nav#docnav a.nav-link.active {
    color: var(--colour-fg);
}

main h2 + p:first-of-type {
    min-height: 3em;
}

main h2 + p:first-of-type::first-letter {
    color: var(--colour-highlight-fg);
    background-color: var(--colour-highlight-bg);
    font-family: 'EB Garamond Initials', 'EB Garamond', serif;
    font-size: 3.3em;
    float: left;
    /* Hack:
       Chrome draws the background up to line-height,
       Firefox only draws it behind the letter's bounding box.
       But, Firefox ignores line-height here, and Chrome doesn't.
       So we compensate.
       http://nicolasgallagher.com/css-typography-experiment/demo/bugs.html#firstletter-float-alt
    */
    /* background-color: black; */
    line-height: 1em;
    margin: 0;
    margin-top: 0.1em;
    margin-right: 0.1em;
    padding: 0.1em;
    text-indent: 0;
}

article h2 + p:first-of-type:first-line {
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

article p, .teaser p { text-align: justify; }

.quoteblock {
    font-style: italic;
    margin: 1em;
}

.quoteblock blockquote {
    padding-left: 1em;
    margin-bottom: 0.3em;
    border-left: 2px solid var(--colour-highlight-bg);
    font-family: var(--font-header);
    font-size: 1.3em;
}

body {
    position: relative;
}

body>.container {
    min-height: 100vh;
    padding-bottom: 2rem;
}

footer {
    padding-top: 0.5rem;
    font-size: 0.7em;
    margin-top: -2rem;
    height: 2rem;
    font-family: var(--font-footer);
}

footer img {
    max-height: 1em;
    width: auto;
    vertical-align: -0.1em;
}

footer ul {
    margin: 0;
    padding-left: 0;
}
footer ul li {
    display: inline-block;
}
footer ul li:not(:first-child):before {
    content: '/ ';
}

.sidenote {
    font-size: 0.9em;
    vertical-align: baseline;
    line-height: 1.3;
    color: var(--colour-slightly-faded);
}

.admonitionblock {
    margin: 1em 0;
    padding: 0.5em 0.75em;
    padding-top: 0.5em;
    border: 3px double var(--colour-highlight-bg);
}

.admonitionblock .title {
    font-family: var(--font-header);
    font-size: 1.5em;
}

.admonitionblock .title::before {
    font-variant: small-caps;
}

.admonitionblock.warning .title::before {
    color: #8e0a00;
    content: 'Cavē: ';
}

.admonitionblock.note .title::before {
    color: #505aae;
    content: 'Notā: ';
}

.admonitionblock.tip .title::before {
    color: #0a8e00;
    content: 'Moneō: ';
}

@media (max-width: 991px) {
    .sidenote { display: block; margin: 1em; }
    label.sidenote-toggle {
        display: inline-block;
        cursor: pointer;
        font-family: 'EB Garamond 12';
        color: var(--colour-highlight-fg);
        margin-bottom: 0;
        height: 1em;
        vertical-align: top;
    }
    input.sidenote-toggle:not(:checked) + label.sidenote-toggle::before {
        content: '❦';
        margin-right: 0.3em;
    }
    input.sidenote-toggle:checked + label.sidenote-toggle::before {
        content: '❧';
    }
    input.sidenote-toggle { display: none; }
    input.sidenote-toggle:not(:checked) + label.sidenote-toggle + .sidenote {
        display: none;
    }
    .index .logo { text-align: center; }
}

@media (min-width: 992px) {
    .sidenote {
        display: block;
        float: right;
        clear: right;
        margin-right: -55%;
        width: 50%;
        position: relative;
    }

    .sidenote-toggle {
        display: none;
    }

    nav#docnav {
        position: sticky;
        top: 1em;
    }
}

.ordinal-suffix {
    text-decoration: underline;
}
