<div class="archive">
    $for(months)$
    <section id="$month$">
        <h2><a href="#$month$">$englishMonth$</a></h2>
        $for(posts)$
        <section>
            <time datetime="$date$">$englishDate$</time>
            <a href="$url$">
                <h3>$title$</h3>
                $if(subtitle)$
                  <h4>$subtitle$</h4>
                $endif$
            </a>
            <div class="teaser">$teaser$</div>
        </section>
        $endfor$
    </section>
    $endfor$
</div>
