<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title$</title>
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/initials.css">
    <link rel="stylesheet" type="text/css" href="/assets/highlighting.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
        id="MathJax-script"
        async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/mathjax.css">
  </head>

  <body
    $if(pageClass)$
    class="$pageClass$"
    $endif$
  >
    <a class="logo" href="/"><img src="/assets/logo.svg" alt="logo"></a>

    $body$

    <footer>
      <ul>
        <li><a href="mailto:twey@twey.co.uk" title="e-mail me">@</a></li>
        <li>
          <a href="https://github.com/Twey/">
            <img class="mono" src="/assets/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="find me on GitHub">
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
