<div class="row about-row">
  <div class="col-lg-3">
    <div class="logo" style=""><a href="/">&amp;</a></div>
  </div>
  <div class="about col-lg-6">
    <p>
      My name is James Kay.
      I like
      <a href="/tags/syntax/">syntax</a>,
      <a href="/tags/semantics/">semantics</a>,
      <a href="/tags/programming-languages/">programming languages</a>,
      <a href="/tags/natural-languages/">natural languages</a>,
      <a href="/tags/formal-verification/">formal verification</a>,
      and other things, and I work in the tech industry.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="sidebar">
      $partial("templates/toc.html")$
    </div>
  </div>

  <main class="col-lg-6">
    $body$
  </main>
</div>
